<!-- Modal Structure -->
<div id="default-modal" class="modal">
  <div class="modal-content">
    <h4 id="default-modal-header"></h4>
    <p id="default-modal-text"></p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<script src="/js/modal.js"></script>