<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" required />
        <label for="name">Name</label>
      </div>

      <div class="input-field col s12">

        <input id="email" type="email" class="validate" required />
        <label for="email">Email</label>
      </div>

      <div class="input-field col s12">
        <input
          id="password"
          type="password"
          class="validate"
          required
          pattern=".{8,}"
        />
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12">
        <button
          class="btn waves-effect waves-light right"
          id="register-button"
        >Register
          <i class="material-icons right">app_registration</i>
        </button>
      </div>
    </div>

  </form>
</div>